{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {{ include('test/result.html.twig') }}
    <div style="margin-left: 30%"><h1>Congratulations! Your result is {{ points }}/9! </h1></div>
    <button style="margin-left: 550px"><a href="/test">Try again</a></button>
    <script>
        let right_answers = ['four','diadem','diary','spiders','wand','stone','cloak'];
        right_answers.forEach(function(item) {

            element = document.getElementById(item);
            element.className = "right";
        });
        element = document.getElementById("button");
        element.hidden = true;
    </script>
{% endblock %}
